@import "compass";

// ****************************************************************************************************
// general
// ****************************************************************************************************

// Core variables and mixins
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap//variables";
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins";

// Reset
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/normalize";
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/print";

// Core CSS
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/scaffolding";
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/type";
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/code";
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/grid";
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/buttons";

// Utility classes
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/utilities";
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/responsive-utilities";

// ****************************************************************************************************
// w11k-slides config
// ****************************************************************************************************

$primaryColor: #2D5352;

$headerLogo: url("assets/images/ET_Ka-Logo_white.svg");
$headerBorderColor: darken($primaryColor, 8%);

$titleTopTextColor: white;
$titleTopBackgroundColor: $primaryColor;
$titleSeparatorColor: $headerBorderColor;
$titleBottomTextColor: $primaryColor;
$titleBottomBackgroundColor: transparent;


@import "w11k-slides/dist/w11k-slides";

.slide {
//  h1 {
//    color: $secondaryColor;
//  }

  h2:after {
    background-size: 3.5em;
    width: 4em;
  }
}

.slides.export {
  font-size: 10px;

  .img-responsive {
    max-width: 10cm;
    max-height: 10cm;
  }
}

pre.prettyprint {
  font-size: 0.7em;
}

// ****************************************************************************************************
// w11k-slides bugfixes
// ****************************************************************************************************

li pre.prettyprint.linenums {
  margin: 10px 0;
}
pre.prettyprint.linenums ol.linenums>li:before {
  margin: 0;
}

code {
  background-color: $lineColor;
}

.slides.export .slide {
  border: 1px solid red;
  border-width: 0;
}

// ****************************************************************************************************
// slides types
// ****************************************************************************************************

.slide.titled {

  padding: 0;

  .top {
    position: relative;
    height: 38.2%;
    text-align: center;
    color: $titleTopTextColor;
    background-color: $titleTopBackgroundColor;
    padding: 0 2em;

    .content {
      position: relative;
      top: 61.8%;
      @include transform(translateY(-61.8%));
      text-align: center;
    }
  }

  .bottom {
    position: relative;
    height: 61.8%;
    border-top: 0.3em solid $titleSeparatorColor;
    background-color: $titleBottomBackgroundColor;
    padding: 0 2em;

    .content {
      position: relative;
      top: 38.2%;
      @include transform(translateY(-38.2%));
      text-align: center;
    }
  }
}

.slide.centered {
  @include vcenter;
  padding: 1em;

  > div {
    display: inline-block;
    margin: auto;
    text-align: center;
    max-height: 90%;

    .header {
      background: none;
      border: 0;

      margin: 0;
      padding: 0;

      h2 {
        text-align: center;
        color: $primaryColor;
        text-transform: uppercase;
      }

      h2:after {
        display: none;
      }
    }

    .content {
      text-align: left;
      max-height: 90%;
      display: inline-block;

      h3 {
        color: inherit;
        padding-left: 0.77em;
      }
    }

    .header + .content {
      margin-top: 1.5em;
    }

  }
}

.slides.screen .slide.centered {
  .content {
    .screenshot {
      width: 35em;
    }
  }
}

.slides.export .slide.centered {
  .content {
    .screenshot {
      height: 12cm;
      max-height: none;
      max-width: none;
    }
  }
}

// ****************************************************************************************************
// slides content
// ****************************************************************************************************

.slide.title {
  .top {
    h1 {
      margin: 0;
      color: $titleTopTextColor;
      small {
        color: $titleTopTextColor;
      }
    }
  }

  .bottom {
    h1 {
      margin: 0;
      color: $titleBottomTextColor;
      small {
        color: $titleBottomTextColor;
      }
    }
  }
}

.slide.intro-tooling {
  .row {
    margin-bottom: 1em;
  }

  .tool {
    display: table;
    text-align: center;

    div.logo {
      display: table-cell;
      height: 9em;
      vertical-align: middle;

      a {
        img {
          max-height: 6em;
          max-width: 6em;
          margin: auto;
          display: block;
          font-weight: bold;
        }
      }

      a:after {
        display: block;
      }
    }


    div.description {
      display: table-row;
    }
  }
}

.slide.meet-the-speaker {
  .bottom {
    h2 {
      color: $titleBottomTextColor;
      margin-bottom: 1em;
      text-transform: uppercase;
    }

    h2:after {
      content: '';
      display: none;
    }
  }
}

.slide.end {
  color: $primaryColor;
  a {
    color: $primaryColor;
  }
}
